@font-face {
   font-family: 'Euclid Circular A Semibold';
   src: url("font/EuclidCircularA-SemiBold.ttf");
}

@font-face {
   font-family: 'Euclid Circular A Medium';
   src: url("font/EuclidCircularA-Medium.ttf");
}

.main_root {
    -fx-background-color: #e9e4fa;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.menu_anchorpane {
    -fx-background-color: #ffffff;
}

.main_anchorpane {
    -fx-background-color: transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.dashboard_anchorpane {
    -fx-background-color: transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.addnew_anchorpane {
    -fx-background-color: transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.library_anchorpane {
    -fx-background-color: transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.mainaddbook_anchorpane {
    -fx-background-color: transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.menu_button {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-text-fill: #989ca7;
}

.menu_button:hover{
    -fx-background-color:#f6f7f9;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.save_button {
    -fx-background-color:#6A6BE6;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.save_button:hover{
    -fx-background-color:#9091f2;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.menu_button_pressed{
    -fx-background-color:#e9e4fa;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-text-fill: #6a6be6;
}

.dashboard_stat_pane {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #c9c9c1, 10, 0.0, 0, 0);
}

.label_1 {
    -fx-text-fill:#30303d;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.label_2 {
    -fx-text-fill:#30303d;
    -fx-font-family: 'Euclid Circular A Medium';
    -fx-font-weight: bold;
}

.name_label1 {
    -fx-text-fill:#6a6be6;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.name_label2 {
    -fx-text-fill:#30303d;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 0 0 0 20px;
}

.chart-legend-item-symbol {
   -fx-background-radius: 360;
}

.chart-legend-item {
    -fx-text-fill: #000000;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-bar {
    -fx-background-color: linear-gradient(to bottom, #9091f2, #6a6be6);
    -fx-background-radius: 10; /* Rounds the corners of the bars */
    -fx-padding: 2px;
}

.default-color1.chart-bar {
    -fx-background-color: #eeafaa;
    -fx-background-radius: 10; /* Rounds the corners of the bars */
    -fx-padding: 2px;
}

.default-color0.chart-bar-symbol {
    -fx-bar-fill: #6a6be6;
}

.default-color1.chart-bar-symbol {
    -fx-bar-fill: #eeafaa;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.avatar_circle {
    -fx-stroke: transparent;
}

.acctype_label {
    -fx-text-fill:#aebecf;
    -fx-font-family: 'Euclid Circular A Medium';
    -fx-font-weight: bold;
}

.ustatistics_label {
    -fx-text-fill:#30303d;
    -fx-font-family: 'Euclid Circular A Medium';
    -fx-font-weight: bold;
}

.upane_1 {
    -fx-background-color:#9091f2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.upane_2 {
    -fx-background-color:#30303d;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.quote_label {
    -fx-text-fill:#ffffff;
    -fx-font-family: 'Euclid Circular A Medium';
    -fx-font-weight: bold;
}

.search_pane {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #c9c9c1, 10, 0.0, 0, 0);
}

.search_text {
    -fx-background-color:transparent;
    -fx-font-family: 'Euclid Circular A Medium';
    -fx-font-weight: normal;
}

.regular_text {
    -fx-background-color:transparent;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.api_scrollpane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.api_scrollpane > .viewport {
   -fx-background-color: transparent;
}

.bigCard {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.smallCard {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.bookdetail_anchorpane {
    -fx-background-color:#30303d;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.back_button {
    -fx-background-color:#30303d;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill:#000000;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.back_button:hover{
    -fx-background-color:#434352;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.add_button {
    -fx-background-color:#30303d;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill:#000000;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.add_button:hover{
    -fx-background-color:#434352;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.body_label {
    -fx-text-fill:#30303d;
    -fx-font-family: 'Euclid Circular A Semibold';
    -fx-font-weight: bold;
}

.info_box {
    -fx-background-color:#e9e4fa;
}

.login_button {
    -fx-background-color : #FFF;
    -fx-border-color: #355ECE;
    -fx-text-fill:  #0C3988;
}

.login_button:hover {
    -fx-background-color : #355ECE ;
    -fx-text-fill:  #FFF;
}

.login_button:pressed {
    -fx-background-color : #0C39FF ;
    -fx-text-fill: #FFF;
}

/*.button2 {
    -fx-background-color :  #0C39FF;
    -fx-border-color: #FFF;
    -fx-text-fill:  #FFF;
}
.button2:hover {
    -fx-background-color : #0C3988 ;
    -fx-text-fill:   #FFF;
}
.button2:pressed {
    -fx-background-color : #0C3400 ;
    -fx-text-fill: #FFF;
}*/

.login_text {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
    -fx-padding: 5 0 5 0;
    -fx-font-size: 13px;
}

.login_text:focused {
    -fx-border-color: #0C3988;
}

.login_text:focused .text-field-prompt {
    -fx-text-fill: transparent;
}

.login_text .text-field-prompt {
    -fx-text-fill: #aaa;
    -fx-font-size: 14px;
}

.book_management_section_choice_pane {
   -fx-background-color:#ffffff;
   -fx-border-width: 2px 2px 2px 2px;
   -fx-border-radius: 10px;
   -fx-background-radius: 10px;
   -fx-border-style: solid;
   -fx-border-color: #ffffff;
   -fx-font-family: 'Euclid Circular A Semibold';
   -fx-font-weight: bold;
   -fx-effect: dropshadow(gaussian, #c9c9c1, 10, 0.0, 0, 0);
}

.background_anchorpane {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
}

.book_detail_pane {
   -fx-background-color:#ffffff;
   -fx-border-width: 2px 2px 2px 2px;
   -fx-border-radius: 10px;
   -fx-background-radius: 10px;
   -fx-border-style: solid;
   -fx-border-color: #ffffff;
   -fx-font-family: 'Euclid Circular A Semibold';
   -fx-font-weight: bold;
}



