.button {
    -fx-background-color : #FFF;
    -fx-border-color: #355ECE;
    -fx-text-fill:  #0C3988;
}
.button:hover {
    -fx-background-color : #355ECE ;
    -fx-text-fill:  #FFF;
}
.button:pressed {
    -fx-background-color : #0C39FF ;
    -fx-text-fill: #FFF;
}

.button2 {
    -fx-background-color :  #0C39FF;
    -fx-border-color: #FFF;
    -fx-text-fill:  #FFF;
}
.button2:hover {
    -fx-background-color : #0C3988 ;
    -fx-text-fill:   #FFF;
}
.button2:pressed {
    -fx-background-color : #0C3400 ;
    -fx-text-fill: #FFF;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
    -fx-padding: 5 0 5 0;
    -fx-font-size: 13px;
}

.text-field:focused {
    -fx-border-color: #0C3988;
}

.text-field:focused .text-field-prompt {
    -fx-text-fill: transparent;
}

.text-field .text-field-prompt {
    -fx-text-fill: #aaa;
    -fx-font-size: 14px;
}



